header{
	background:url('../../img/header-bg.jpg')no-repeat top center fixed;
	background-size:cover;
	height:46em;
	width:100%;
	color:white;
	.navbar-right{
		padding-top:20px;
		a{
		color:white;
		font-family:"Montserrat";
	}
}
}
