footer
	.container
		.col-md-4
			p= privacy
		.col-md-4
			ul
				li.fa.fa-twitter
				li.fa.fa-facebook
				li.fa.fa-linkedin
		.col-md-4.text-orange
			p Copyright <i class="fa fa-copyright"> </i> YOUR wEBSITE 2014.f