doctype html
html( lang="en" )
	head
		title agencytheme
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", href="assets/css/bootstrap.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Montserrat', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
		link(rel="stylesheet", href="assets/css/main.css")
	body(style="padding-bottom:6rem;")
		include variables
		include mixins
		header.text-center
			nav.navbar(role="navigation")
				.container
					.navbar-header 
						button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#") Start Bootstrap
					#navbar-inverse.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active: a( href="#") SERVICES
							li: a( href="#about" ) PORTFOLIO
							li: a( href="#contact" ) ABOUT
							li: a( href="#galleries" ) TEAM
							li: a( href="#contact" ) CONTACT
					.welcome
						h2 Welcome To Our Studio!
						h1 IT'S NICE TO MEET YOU
						.btn TELL ME MORE
		section.servicios.text-center
			.container 
				+titulo("SERVICES")
				.row
					+servicios("E-Commerce")
					+servicios("Responsive Design")
					+servicios("Web Security")
		section.portafolio.text-center
			.container
				+titulo("PORTAFOLIO")
				.row
					+fotografia("img/portfolio/roundicons.png")
					+fotografia2("img/portfolio/startup-framework.png","Startup Framework")
					+fotografia2("img/portfolio/treehouse.png","Treehouse")
					+fotografia2("img/portfolio/golden.png","Golden")
					+fotografia2("img/portfolio/escape.png","Escape")
					+fotografia2("img/portfolio/dreams.png","Dreams")
		section.about.text-center
			.container
				.raya
				+titulo("ABOUT")
				+datos("2009-2011","Our Humble Beginnings","img/about/1.jpg")
				+datos2("MARCH 2011","Our Humble Beginnings","img/about/2.jpg")
				+datos("DECEMBER 2012","Our Humble Beginnings","img/about/3.jpg")
				+datos2("JULY 2014","Our Humble Beginnings","img/about/4.jpg")
				.row
					.col-md-2.adicional
						p BE PART OF OUR STORY!
		section.team.text-center
			.container
				+titulo("OUR AMAZING TEAM")
				.row
					+equipo("img/team/1.jpg","Kay Garland","Lead Designer")
					+equipo("img/team/2.jpg","Larry Parker","Lead Marketer")
					+equipo("img/team/3.jpg","Diana Petersen","Lead Developer")
					p=content
		section.form.term-center
			.container
				+logos("envato")
				+logos("designmodo")
				+logos("themeforest")
				+logos("creative-market")
		section.contact.text-center
			.container
				+titulo("CONTACT US")
				form
					.row
						.col-md-6
							+input("NOMBRE*")
							+input("YOUR EMAIL*")
							+input("YOUR PHONË*")
						.col-md-6
							+textoarea()
					.btn Submit
		footer
			.container
				.col-md-4
					p= privacy
				.col-md-4
					ul
						li.fa.fa-twitter
						li.fa.fa-facebook
						li.fa.fa-linkedin
				.col-md-4.text-orange
					p Copyright <i class="fa fa-copyright"> </i> YOUR wEBSITE 2014
	script(src="../assets/js/bootstrap.min.js")
	script(src="../assets/js/jquery.min.js")