-about = " Lorem ipsum dolor sit amet, consectetur."
-content = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vitae sed temporibus! Nobis in labore pariatur reiciendis, tempora ut est mollitia vero cupiditate doloribus fugiat illo porro! Nulla ad, a."
-graphic ="Graphic Design"
-website ="Website Design"
-parrafo = " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus recusandae architecto laborum quas iste, nam maxime. Non, consequuntur magni, rerum obcaecati, porro, officiis temporibus assumenda dicta odit ullam dolore. Doloremque!"
-comment = "BE PART OF OUR STORY!"
-privacy = "Privacy Policy Terms of Use"
